<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	<title>Welcome</title>
	<meta charset="utf-8"/>
</head>

<body>
	<header th:insert="fragments :: heading"></header>
	<div class="centre-screen">
		<table>
			<tr>
				<th>ID</th>
				<th>Director</th>
			</tr>
			<tr th:object = "${director}">
				<td th:text="*{directorId}">ID</td>
				<td th:text="*{directorFullName}">Director</td>
			</tr>
		</table>
	<div>
	<footer th:insert="fragments :: languages"></footer>
</body>
</html>

