<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	<title>Welcome</title>
	<meta charset="utf-8"/>
</head>

<body>
	
	<header th:insert="fragments :: heading"></header>
	
	<div class="centre-screen">
		<!-- <table class="push"> -->
		<table>
			<tr>
				<th>ID</th>
				<th>Director</th>
			</tr>
			<!-- Anchor tag brings you to towns in director page -->
			<tr th:each = "director, iterationCount: ${directors}" th:class="${iterationCount.odd}? 'odd'" th:object = "${director}">
				<td th:text="${director.directorId}"></td>
				<td><a th:text="${director.directorFullName}" th:href="'/filmsbydirector/' + *{directorId}">Director Name</a></td>
				<td></td>
			</tr>
		</table>
		<!--
		<table>
			<tr>
				<th>ID</th>
				<th>Director</th>
			</tr>
			<tr th:each = "director: ${directors}" th:object = "${director}">
				<td th:text="*{directorId}">ID</td>
				<td th:text="*{directorFullName}">Director</td>
				<td></td>
			</tr>
		</table>
		<br>
		<table class="push">
			<tr>
				<th>ID</th>
				<th>Director</th>
			</tr>
			<tr th:each = "director, iterationCount: ${directors}" th:class="${iterationCount.odd}? 'odd'" th:object = "${director}">
				<td th:text="*{directorId}">ID</td>
				<td th:text="*{directorFullName}">Director</td>
				<td></td>
			</tr>
		</table>
		<br>
		-->
	<div>
	
	<footer th:insert="fragments :: languages"></footer>
</body>
</html>

