<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	<title>Welcome</title>
	<meta charset="utf-8"/>
</head>

<body>
	<header th:insert="fragments :: heading"></header>
	<div class="centre-screen">
		<h1>
			Films By <span th:text="${director.directorFullName}">WHERE</span>
		</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Film</th>
				<th>Director</th>
			</tr>
			<tr  th:object = "${film}">
				<td th:text="*{filmId}">ID</td>
				<td th:text="*{filmName}">FILM</td>
				<td th:text="*{filmDirector:directorFullName}">DIRECTOR_NAME</td>`
			</tr>
		</table>
	<div>
	<footer th:insert="fragments :: languages"></footer>
</body>
</html>

