<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	<title>Welcome</title>
	<meta charset="utf-8"/>
</head>

<body>
  <header th:insert="fragments :: heading"></header>
  
  <main>
    <div class = "centre-screen">
		<form method="post" th:action="@{/newfilm}" th:object="${newFilmForm}">
			<label for="filmName" th:text="#{newfilm.newFilmName}"></label>
			<input id = "filmName" type="text" th:field="*{newFilmName}"/>
			<br>
			<label for="director" th:text="#{newfilm.chooseDirector}"></label>
			<select th:field="*{directorId}">
				<option th:each="director: ${directors}" th:text="${director.directorFullName}" th:value="${director.directorId}"/>
			</select>
			<br>
			<input type="submit" th:value="#{newFilm.addFilm}"/>
		</form>
	</div>
  </main>
  
  <footer th:insert="fragments :: languages"></footer>
	
</body>
</html>